extends layout

block content
  .row.justify-content-md-center
    .col
      h1 Bienvenido al Panel de Control del Blog
  
  .row.margentop
    .col
      p.titulo1 Seleccione una de las siguientes opciones: 
      .list-group
        a.list-group-item.list-group-item-action.list-group-item-primary(href="/Categorias") Categorias
        a.list-group-item.list-group-item-action.list-group-item-success(href="/Posts") Posts
